@import url('httops://https://fonts.google.com/specimen/Roboto+Mono?category=Serif,Monospace');




body{
    display: flex;
    flex-direction: row;
    padding: 5em;
}
.sizzle {
    display: flex;
    flex-wrap: wrap-reverse;
}
.photo {

}
.logo {
    display: flex;
    font-size: 40px;
    font-weight: bolder;
    margin: 100px;
}

.pitch {
    font-size: 20;
    font-weight: bold;
}

.credit {

}

.wrapper {
    background-color: blanchedalmond;
    list-style-type: none;
    padding: 0px;
    border-radius: 3px;
} 

.form-row {
    display: flex;
    justify-content: center;
    padding: .5em;
    margin: .5em;
}